.logo{
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.rpsContainer{
    text-align: center;
}

.randomImgContainer div{
    display: inline-block;
}

body {
    background-image:url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 120%;
    color: #ffffff;
}

.resultContainer{
    margin: auto;
}

.scoreContainer {
    width: 380px;
    height: 150px;
    padding: 10px;
    border: 3px solid white;
    margin: auto;
}


.scoreColumn{
    width: 50%;
    clear: both;
    display: inline-block;
    overflow: hidden;
}

.radioContainer{
    margin-bottom: 10px;
}